@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  font-family: 'Be Vietnam Pro', sans-serif;
  @apply text-dark;
}

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;600;700&display=swap');

table {
  border: 1px solid;
  width: 100%;
}
table th,td {
  border: 1px solid;
  padding: 0 12px;
}
.slick-slider .slick-prev::before {
  color: black;
  font-size: 40px;
}


.slick-slider .slick-prev {
  left: 25px;
  z-index: 1;
}

.slick-slider .slick-next::before {
  color: black;
  font-size: 40px;
}
.slick-slider .slick-next {
  right: 50px;
  z-index: 1;
}
.slick-slider .slick-dots {
  bottom: 25px;
  font-size: 12px;
}
.slick-slider .slick-dots li button:before {
  font-size: 12px;
}

.slick-slider .slick-dots .slick-active button:before {
  color: #6f42c1;
}

